{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>О сайте</h1>
</div>

<h1>Создатели проекта</h1>

<div class="card-deck">
    <div class="card" style="width:500px">
        <img class="card-img-top" src="static/img/img_avatar1.png" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Регина</h4>
            <p class="card-text">Веб-Дизайнер</p>
            <a href="https://vk.com/fkhr005" class="btn btn-primary">Связаться</a>
        </div>
    </div>
  <div class="card" style="width:400px">
        <img class="card-img-top" src="static/img/img_avatar2.png" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Расуль</h4>
            <p class="card-text">роль</p>
            <a href="https://vk.com/invee" class="btn btn-primary">Связаться</a>
        </div>
    </div>
  <div class="card" style="width:400px">
        <img class="card-img-top" src="static/img/img_avatar3.png" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Даниил</h4>
            <p class="card-text">Контент-Менеджер</p>
            <a href="https://vk.com/cooldaniil" class="btn btn-primary">Связаться</a>
        </div>
    </div>
  <div class="card" style="width:400px">
        <img class="card-img-top" src="static/img/img_avatar4.png" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Булат</h4>
            <p class="card-text">Веб-Разработчик</p>
            <a href="https://vk.com/bulatkotdusov" class="btn btn-primary">Связаться</a>
        </div>
    </div>
</div>

{% endblock %}