<!DOCTYPE >
<head>
<style type="text/css">
a:link,  a:visited {text-decoration:none; color:#ff0000;}
a:hover,  a:active {text-decoration:underline;}
#here {display:none;}
table {margin:0 auto;}
</style>
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$('.menu').hover(function(){
    $('#here').fadeIn("slow");}).mouseout(function(){
        $('#here').fadeOut("slow");});
});
</script>
</head>
<body>
<a href="#" class="menu" onMouseOver="a_hover();"  onMouseOut="a_out();">hoverme</a>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td id="here">
            html.by
        </td>
    </tr>
</table>
</body>
</html>